.panel.panel-default
  .panel-heading
    span.glyphicon.glyphicon-list-alt#left-icon
    span {{ 'TITLES.IMPORT_HISTORY' | translate }}
  .panel-body#with-background
    loading-directive
    table.table(ng-mouseleave='import_history.selectLineNumber = undefined')
      tr(ng-mouseover='import_history.selectLineNumber = undefined')
        th
        th {{ 'COLUMNS.PUBLISHED_AT' | translate }}
        th {{ 'COLUMNS.CATEGORY' | translate }}
        th {{ 'COLUMNS.BREAKDOWN' | translate }}
        th {{ 'COLUMNS.PLACE' | translate }}
        th {{ 'COLUMNS.TAG' | translate }}
        th {{ 'COLUMNS.CHARGE' | translate }}
        th {{ 'COLUMNS.MEMO' | translate }}
        th
        th(width='15%') {{ 'COLUMNS.MESSAGE' | translate }}
        th
        th
        th
      tr(ng-repeat='capture in import_history.captures'
         ng-mouseover='import_history.selectLine($index)')
        td.line-color(ng-class="{ 'line-color-red': import_history.selectLineNumber == $index}")
        td {{ capture.published_at | date:'yyyy-MM-dd' }}
        td
          span.glyphicon.glyphicon-exclamation-sign.red#left-icon(ng-show='capture.category_name && !capture.category_id')
          span {{ capture.category_name }}
        td
          span.glyphicon.glyphicon-exclamation-sign.red#left-icon(ng-show='capture.breakdown_name && !capture.breakdown_id')
          span {{ capture.breakdown_name }}
        td
          span.glyphicon.glyphicon-exclamation-sign.red#left-icon(ng-show='capture.place_name && !capture.place_id')
          span {{ capture.place_name }}
        td {{ capture.tags }}
        td {{ import_history.user_currency }} {{ capture.charge || 0 }}
        td {{ capture.memo | truncate:true:15 }}
        td
          button.btn.btn-success.btn-sm(ng-disabled='capture.comment'
                                  ng-show='!capture.registered'
                                  ng-click='import_history.import($index)')
            | {{ 'BUTTONS.CREATE' | translate }}
          button.btn.btn-default.btn-sm(ng-disabled='capture.registered'
                                  ng-show='capture.registered'
                                  ng-click='import_history.import($index)')
            | {{ 'BUTTONS.CREATED' | translate }}
        td
          span.red {{ capture.comment }}
        td
          button.btn.btn-success.btn-sm(ng-disabled='capture.registered || capture.loading' ng-click='import_history.reloadCapture($index)')
            span.glyphicon.glyphicon-repeat
        td
          button.btn.btn-info.btn-sm(ng-hide='capture.registered' ng-click='import_history.showCapture($index)')
            span.glyphicon.glyphicon-info-sign
          button.btn.btn-info.btn-sm(ng-show='capture.registered' ng-click='import_history.showRecord($index)')
            span.glyphicon.glyphicon-info-sign
        td
          a(href='' ng-click='import_history.destroyCapture($index)' ng-hide='capture.registered')
            span.glyphicon.glyphicon-trash.green(uib-tooltip="{{'TOOLTIPS.DELETE' | translate}}")
