admin-menu-directive

.panel.panel-default
  .panel-heading
    span.glyphicon.glyphicon-leaf(translate='TITLES.NOTICES')
  .panel-body#with-background
    .btn.btn-info(translate='BUTTONS.ADD' ng-click='admin_notices.newNotice()')
    nav
      ul.pagination
        li(ng-click='admin_notices.clickPaginate(number)' ng-repeat='number in admin_notices.offset_numbers' ng-class='{active: number == admin_notices.offset}')
          a {{$index + 1}}
    table.table
      tr
        th
        th
        th(translate='COLUMNS.TITLE')
        th(translate='COLUMNS.CONTENT')
        th(translate='COLUMNS.POST_AT')
        th
      tr(ng-repeat='notice in admin_notices.notices')
        td
        td
        td
          a(ng-click='admin_notices.showNotice($index)') {{ notice.title }}
        td {{ notice.content }}
        td {{ notice.post_at }}
        td
          a(href='' ng-click='admin_notices.destroyNotice($index)' translate='LINKS.DELETE')

script#new-notice(type='text/ng-template')
  form(novalidate=true name='noticeForm' ng-submit='new_notice.submit()')
    .modal-header
      button.btn.btn-success(type='submit' ng-disabled='noticeForm.$submitted && noticeForm.$invalid' translate='BUTTONS.CREATE')
      a.btn.btn-default(ng-click='new_notice.cancel()' translate='BUTTONS.CLOSE')
    .modal-body
      .form-group
        label(for='post_at')
          span(translate='COLUMNS.POST_AT')
          span *
        input.btn.btn-default(type='date' name='post_at' ng-model='new_notice.post_at' datepicker-popup=true ng-click="new_notice.toggleDatePicker($event)" is-open=true)
      .form-group
        label(for='title')
          span(translate='COLUMNS.TITLE')
          span *
        input.form-control(type='text' name='title' ng-model='new_notice.title' required=true ng-maxlength='100')
        span.errors(ng-messages='noticeForm.title.$error' ng-show='noticeForm.$submitted')
          div(ng-message='required')
            span.glyphicon.glyphicon-alert#left-icon
            span(translate='ERRORS.REQUIRED.TITLE')
          div(ng-message='maxlength')
            span.glyphicon.glyphicon-alert#left-icon
            span(translate='ERRORS.MAXLENGTH.TITLE')
      .form-group
        label(for='content')
          span(translate='COLUMNS.CONTENT')
        textarea.form-control(rows='5' name='content' ng-model='new_notice.content' ng-maxlength='1000')

script#notice(type='text/ng-template')
  .modal-header(ng-show='!notice.edit_field')
    .btn.btn-info(translate='BUTTONS.UPDATE' ng-click='notice.edit_field = true')
    a.btn.btn-default(ng-click='notice.cancel()' translate='BUTTONS.CLOSE')
  .modal-body(ng-show='!notice.edit_field')
    p {{ notice.notice.post_at }} {{ notice.notice.title }}
    div(marked='notice.notice.content')
  form(novalidate=true name='noticeForm' ng-submit='notice.submit()' ng-show='notice.edit_field')
    .modal-header
      button.btn.btn-success(type='submit' ng-disabled='noticeForm.$submitted && noticeForm.$invalid' translate='BUTTONS.UPDATE')
      a.btn.btn-default(ng-click='notice.cancel()' translate='BUTTONS.CLOSE')
    .modal-body
      .form-group
        label(for='post_at')
          span(translate='COLUMNS.POST_AT')
          span *
        input.btn.btn-default(type='date' name='post_at' ng-model='notice.post_at' datepicker-popup=true)
      .form-group
        label(for='title')
          span(translate='COLUMNS.TITLE')
          span *
        input.form-control(type='text' name='title' ng-model='notice.title' required=true ng-maxlength='100')
        span.errors(ng-messages='noticeForm.title.$error' ng-show='noticeForm.$submitted')
          div(ng-message='required')
            span.glyphicon.glyphicon-alert#left-icon
            span(translate='ERRORS.REQUIRED.TITLE')
          div(ng-message='maxlength')
            span.glyphicon.glyphicon-alert#left-icon
            span(translate='ERRORS.MAXLENGTH.TITLE')
      .form-group
        label(for='content')
          span(translate='COLUMNS.CONTENT')
        textarea.form-control(rows='5' name='content' ng-model='notice.content' ng-maxlength='10000')
        span.errors(ng-messages='noticeForm.content.$error' ng-show='noticeForm.$submitted')
          div(ng-message='maxlength')
            span.glyphicon.glyphicon-alert#left-icon
            span(translate='ERRORS.MAXLENGTH.CONTENT')

script#confirm-destroy(type='text/ng-template')
  .modal-body
    p(translate='MESSAGES.DELETE')
    button.btn.btn-success(type='submit' translate='BUTTONS.YES' ng-click='confirm_destroy.ok()')
    a.btn.btn-default(ng-click='confirm_destroy.cancel()' translate='BUTTONS.CLOSE')
