.modal-body
  loading-directive(target='modal')
  // 編集フィールド
  div(id='breakdown.id' ng-repeat='breakdown in breakdowns.breakdowns')
    p(ng-click='breakdown.edit_field = true' ng-show='!breakdown.edit_field') {{ breakdown.name }}
    .form.form-inline(ng-if='breakdown.edit_field')
      input.form-control(type='text' ng-model='breakdown.edit_name' ng-value='breakdown.name' ng-init='breakdown.edit_name = breakdown.name' auto-focus=true ng-keydown='breakdowns.updateBreakdown($index, $event)')
      button.btn.btn-success(translate='BUTTONS.EDIT' ng-click='breakdowns.updateBreakdown($index)')
      button.btn.btn-default(translate='BUTTONS.CANCEL' ng-click='breakdown.edit_field = false')
      button.btn.btn-info.pull-right(href='' translate='LINKS.DELETE' ng-click='breakdowns.destroyBreakdown($index)')
  // 追加フィールド
  form(novalidate=true name='newBreakdownForm' ng-submit='breakdowns.submit()')
    a(href='' ng-click='breakdowns.new_breakdown_field = true'
      translate='BUTTONS.ADD'
      ng-if='!breakdowns.new_breakdown_field && breakdowns.breakdowns && breakdowns.breakdowns.length < breakdowns.max_breakdown_count')
    .form-group(ng-if='breakdowns.new_breakdown_field')
      input.form-control(
        type='text'
        autofocus=true
        name='breakdowns.new-breakdown'
        ng-model='breakdowns.new_breakdown'
        required=true
        ng-maxlength='100'
        ng-keydown='breakdowns.createBreakdown($event)')
