.col-md-3
  user-menu-directive

.col-md-9
  .panel.panel-default
    .panel-heading
      span.glyphicon.glyphicon-user#left-icon
      span(translate='TITLES.PROFILE')
    .panel-body#with-background
      loading-directive
      // ユーザータイプ
      blockquote
        footer(translate='LABELS.EMAIL_LOGIN' ng-show="profile.current_user.type == 'EmailUser'")
        footer(translate='LABELS.TWITTER_LOGIN' ng-show="profile.current_user.type == 'TwitterUser'")
        footer(translate='LABELS.FACEBOOK_LOGIN' ng-show="profile.current_user.type == 'FacebookUser'")
      .form.form-horizontal(novalidate=true name='profileForm')
        // ユーザー名
        .form-group(ng-show="profile.current_user.type == 'TwitterUser'")
          label.col-sm-2.control-label(for='auth.name' translate='COLUMNS.USER_NAME')
          .col-sm-10
            span {{ profile.current_user.auth.name }}
        // TwitterID
        .form-group(ng-show="profile.current_user.type == 'TwitterUser'")
          label.col-sm-2.control-label(for='auth.screen_name' translate='COLUMNS.TWITTER_ID')
          .col-sm-10
            span {{ profile.current_user.auth.screen_name }} 
        // メールアドレス
        .form-group(ng-show='profile.current_user')
          label.col-sm-2.control-label(for='new_email' translate='LABELS.EMAIL')
          .col-sm-5
            label.modal-label(ng-show='!profile.email_edit_field') {{ profile.current_user.email || ('LABELS.NO_SETTINGS' | translate) }}
            span.glyphicon.glyphicon-pencil.green#right-icon(
              tooltip="{{ 'TOOLTIPS.EDIT' | translate }}"
              ng-click='profile.email_edit_field = true'
              ng-show='!profile.email_edit_field')
            input.form-control#new_email(
              type='email'
              name='new_email'
              auto-focus=true
              ng-if='profile.email_edit_field'
              ng-value='profile.current_user.email'
              ng-init='profile.new_email = profile.current_user.email'
              ng-model='profile.new_email'
              ng-maxlength='100')
            span.errors(ng-show='profileForm.new_email.$error.maxlength')
              span.glyphicon.glyphicon-alert#left-icon
              span(translate='ERRORS.MAXLENGTH.EMAIL')
            span.errors(ng-show='profileForm.new_email.$error.email')
              span.glyphicon.glyphicon-alert#left-icon
              span(translate='ERRORS.EMAIL')
          .col-sm-5
            button.btn.btn-success(
              ng-click='profile.updateNewEmail()'
              ng-show='profile.email_edit_field')
              span(translate='BUTTONS.AUTH_EMAIL')
            button.btn.btn-default(
              ng-click='profile.cancelNewEmail()'
              ng-show='profile.email_edit_field')
              span(translate='BUTTONS.CANCEL')
        .form-group(ng-show='profile.current_user.new_email && !profile.email_edit_field')
          .col-sm-2
          .col-sm-5
            label.modal-label#left-icon(for='new_email' translate='LABELS.PRE_AUTH')
            span {{ profile.current_user.new_email }}
            span.green.glyphicon.glyphicon-envelope#right-icon(ng-click='profile.sendNewEmail()')
        // ニックネーム
        .form-group
          label.col-sm-2.control-label(for='new_nickname' translate='LABELS.NICKNAME')
          .col-sm-5
            label.modal-label(ng-show='!profile.nickname_edit_field') {{ profile.current_user.nickname || ('LABELS.NO_SETTINGS' | translate) }}
            span.glyphicon.glyphicon-pencil.green#right-icon(
              tooltip="{{ 'TOOLTIPS.EDIT' | translate }}"
              ng-click='profile.nickname_edit_field = true'
              ng-show='!profile.nickname_edit_field')
            input.form-control#new_nickname(
              type='text'
              name='new_nickname'
              auto-focus=true
              ng-if='profile.nickname_edit_field'
              ng-value='profile.current_user.nickname'
              ng-init='profile.new_nickname = profile.current_user.nickname'
              ng-model='profile.new_nickname'
              ng-keydown='profile.updateNickname($event)'
              ng-maxlength='100')
            span.errors(ng-show='profileForm.new_nickname.$error.maxlength')
              span.glyphicon.glyphicon-alert
              span(translate='ERRORS.MAXLENGTH.NICKNAME')
          .col-sm-5
            button.btn.btn-success(
              ng-click='profile.updateNickname()'
              ng-show='profile.nickname_edit_field')
              span(translate='BUTTONS.UPDATE')
            button.btn.btn-default(
              ng-click='profile.nickname_edit_field = false'
              ng-show='profile.nickname_edit_field')
              span(translate='BUTTONS.CANCEL')
 
        // パスワード
        .form-group(ng-show="profile.current_user.type == 'EmailUser'")
          label.col-sm-2.control-label(for='password' translate='LABELS.PASSWORD')
          .col-sm-10
            .btn.btn-info(ng-click='profile.modalNewPassword()')
              span {{ 'BUTTONS.EDIT' | translate }}
