// TODO: ファイル名をnew_recordに変更する
.panel.panel-default
  .panel-heading
    span.glyphicon.glyphicon-piggy-bank#left-icon
    span(translate='TITLES.NEW_RECORD')
  .panel-body
    .col-sm-6
      loading-directive
      // 表示設定のリンク
      p.text-right
        a(href='' translate='LINKS.DISPLAY_SETTING' ng-click='new_record.settings = !new_record.settings')
      .checkbox(ng-show='new_record.settings')
        p(translate='MESSAGES.DISPLAY_ITEMS')
        label.checkbox-inline
          input(type='checkbox' ng-model='new_record.breakdown_field' ng-change='new_record.checkSetting()')
          span {{ 'COLUMNS.BREAKDOWN' | translate }}
        label.checkbox-inline
          input(type='checkbox' ng-model='new_record.place_field' ng-change='new_record.checkSetting()')
          span {{ 'COLUMNS.PLACE' | translate }}
        label.checkbox-inline
          input(type='checkbox' ng-model='new_record.tag_field' ng-change='new_record.checkSetting()')
          span {{ 'COLUMNS.TAG' | translate }}
        label.checkbox-inline
          input(type='checkbox' ng-model='new_record.memo_field' ng-change='new_record.checkSetting()')
          span {{ 'COLUMNS.MEMO' | translate }}
      hr(ng-show='new_record.settings')
      .alert.alert-danger(role='alert' ng-show='new_record.total_record_count >= new_record.user.max_record_count')
        span {{ 'MESSAGES.MAX_LENGTH_RECORDS' | translate:{ count:new_record.total_record_count } }}
      // フォーム
      form.form-horizontal(novalidate=true name='newRecordForm' ng-submit='new_record.submit()')
        // 日付
        .form-group
          label.control-label.col-sm-2(for='published_at')
            span(translate='COLUMNS.PUBLISHED_AT')
            span.red *
          .col-sm-10
            input.btn.btn-default(type='date' name='published_at' ng-model='new_record.published_at' datepicker-popup=true required='true' ng-change='new_record.changeDate()')
            span.errors(ng-messages='newRecordForm.published_at.$error' ng-show='newRecordForm.$submitted && newRecordForm.published_at.$error')
              div(ng-message='required')
                span.glyphicon.glyphicon-alert#left-icon
                span(translate='ERRORS.REQUIRED.PUBLISHED_AT')
              div(ng-message='date')
                span.glyphicon.glyphicon-alert#left-icon
                span(translate='ERRORS.DATE')
            label
              a.btn.btn-info.btn-sm(translate='BUTTONS.TODAY' ng-click='new_record.setToday()')
        // カテゴリ
        .form-group
          label.control-label.col-sm-2(for='category')
            span(translate='COLUMNS.CATEGORY')
            span.red *
          .col-sm-8
            select.form-control(
              name='category_id'
              ng-model='new_record.category_id'
              required='true'
              ng-change='new_record.selectCategory()'
              ng-options='category.id as category.name group by category._payments_name for category in new_record.categories'
            )
            span.errors(ng-messages='newRecordForm.category_id.$error' ng-show='newRecordForm.$submitted && newRecordForm.category_id.$error')
              div(ng-message='required')
                span.glyphicon.glyphicon-alert#left-icon
                span(translate='ERRORS.REQUIRED.CATEGORY')
          label.control-label(ng-click='new_record.newCategory()')
            .btn.btn-info.btn-xs
              span.glyphicon.glyphicon-plus
        // 内訳
        .form-group(ng-show='new_record.form_group_breakdown')
          label.control-label.col-sm-2(for='breakdown')
            span(translate='COLUMNS.BREAKDOWN')
          .col-sm-8
            select.form-control(
              name='breakdown_id'
              ng-model='new_record.breakdown_id'
              ng-disabled='!new_record.category_id'
              ng-options='breakdown.id as breakdown.name for breakdown in new_record.breakdowns'
            )
          label.control-label(ng-show='new_record.category_id' ng-click='new_record.newBreakdown()')
            .btn.btn-info.btn-xs
              span.glyphicon.glyphicon-plus
        // お店・施設
        .form-group(ng-show='new_record.form_group_place')
          label.control-label.col-sm-2(for='place')
            span(translate='COLUMNS.PLACE')
          .col-sm-8
            select.form-control(
              name='place_id'
              ng-model='new_record.place_id'
              ng-disabled='!new_record.category_id'
              ng-options='place.id as place.name for place in new_record.places'
             )
          label.control-label(ng-show='new_record.category_id' ng-click='new_record.newPlace()')
            .btn.btn-info.btn-xs
              span.glyphicon.glyphicon-plus
        // ラベル
        .form-group(ng-show='new_record.form_group_tag')
          label.control-label.col-sm-2(for='tag')
            span(translate='COLUMNS.TAG')
            span.glyphicon.glyphicon-question-sign.blue#right-icon(ng-click='new_record.helpTags()')
          .col-sm-10
            tags-input(ng-model='new_record.tags'
                       display-property='name'
                       replace-spaces-with-dashes='false'
                       min-length='1'
                       max-length='20'
                       on-tag-clicked='new_record.setColor($tag)'
                       placeholder='↓ down arrow key' 
                       template='app/records/tag_template.html')
              auto-complete(source='new_record.loadTags($query)'
                            min-length='0'
                            max-results-to-show='32'
                            load-on-down-arrow='true'
                            load-on-focus='false'
                            load-on-empty='false'
                            template='app/records/autocomplete_template.html')
        // 金額
        .form-group
          label.control-label.col-sm-2(for='charge')
            span(translate='COLUMNS.CHARGE')
            span.red *
          .col-sm-10
            .input-group
              span.input-group-addon {{ new_record.user.currency }}
              input.form-control(type='number' name='charge' ng-model='new_record.charge' required='true' max=9999999 min=0)
            span.errors(ng-messages='newRecordForm.charge.$error' ng-if='newRecordForm.$submitted && newRecordForm.charge.$error')
              div(ng-message='required')
                span.glyphicon.glyphicon-alert#left-icon
                span(translate='ERRORS.REQUIRED.CHARGE')
              div(ng-message='max')
                span.glyphicon.glyphicon-alert#left-icon
                span(translate='ERRORS.MAX.CHARGE')
              div(ng-message='min')
                span.glyphicon.glyphicon-alert#left-icon
                span(translate='ERRORS.MIN.CHARGE')
        // 備考
        .form-group(ng-show='new_record.form_group_memo')
          label.control-label.col-sm-2(for='memo')
            span(translate='COLUMNS.MEMO')
          .col-sm-10
            textarea.form-control(name='memo' ng-model='new_record.memo' ng-maxlength='10000')
            span.errors(ng-messages='newRecordForm.memo.$error' ng-show='newRecordForm.$submitted && newRecordForm.memo.$error')
              div(ng-message='maxlength')
                span.glyphicon.glyphicon-alert#left-icon
                span(translate='ERRORS.MAXLENGTH.MEMO')
        // ボタン
        .form-group(ng-hide='new_record.total_record_count >= new_record.user.max_record_count')
          .control-label.col-sm-2
            submit-button-directive(form='newRecordForm')
              span {{ 'BUTTONS.CREATE' | translate }}
    // 日付の登録一覧
    .col-sm-6
      .panel.panel-default(ng-show='new_record.day_records')
        .panel-body
          .btn.btn-info.btn-xs.pull-left(ng-click='new_record.getYesterdayRecords()')
            .glyphicon.glyphicon-chevron-left
          .btn.btn-info.btn-xs.pull-right(ng-click='new_record.getTomorrowRecords()')
            .glyphicon.glyphicon-chevron-right
          .text-center
            | {{ new_record.records_published_at | date:'yyyy年MM月dd日' }}
            span(translate='LABELS.ADD_20')
          loading-directive(target='records')
          table.table.table-condensed
            tr(ng-repeat='record in new_record.day_records')
              td
                a(href='' ng-click='new_record.copyRecord(record)')
                  span.glyphicon.glyphicon-arrow-left.green(uib-tooltip="{{'TOOLTIPS.COPY' | translate}}")
              td
                label.label.label-warning {{ record.category_name }}
              td
                label.label.label-info {{ record.breakdown_name }}
              td
                label.label.label-primary {{ record.place_name }}
              td
                span.glyphicon.glyphicon-arrow-up.green(ng-show='record.payments' uib-tooltip="{{ 'TOOLTIPS.INCOME' | translate }}")
                span.glyphicon.glyphicon-arrow-down.red(ng-show='!record.payments' uib-tooltip="{{ 'TOOLTIPS.OUTGO' | translate }}")
              td {{ new_record.user.currency }} {{ record.charge | currency:'':0 }}
              // TODO: $に対応する
              td
                a(href='' ng-click='new_record.showRecord($index)')
                  span.glyphicon.glyphicon-info-sign.green(uib-tooltip="{{'TOOLTIPS.DETAIL' | translate}}")
              td
                a(href='' ng-click='new_record.destroyRecord($index)')
                  span.glyphicon.glyphicon-trash.green(uib-tooltip="{{'TOOLTIPS.DELETE' | translate}}")
