.panel.panel-default
  .panel-heading
    span.glyphicon.glyphicon-piggy-bank#left-icon
    span(translate='TITLES.NEW_RECORD')
  .panel-body
    .col-sm-6
      loading-directive
      // 表示設定のリンク
      .text-right
        a(href='' translate='LINKS.DISPLAY_SETTING' ng-click='new_record.settings = !new_record.settings')
      .checkbox(ng-show='new_record.settings')
        p(translate='MESSAGES.DISPLAY_ITEMS')
        label.checkbox-inline
          input(type='checkbox' ng-model='new_record.breakdown_field' ng-change='new_record.checkSetting()')
          span {{ 'COLUMNS.BREAKDOWN' | translate }}
        label.checkbox-inline
          input(type='checkbox' ng-model='new_record.place_field' ng-change='new_record.checkSetting()')
          span {{ 'COLUMNS.PLACE' | translate }}
        label.checkbox-inline
          input(type='checkbox' ng-model='new_record.memo_field' ng-change='new_record.checkSetting()')
          span {{ 'COLUMNS.MEMO' | translate }}
      hr(ng-show='new_record.settings')
      // フォーム
      form.form-horizontal(novalidate=true name='newRecordForm' ng-submit='new_record.submit()')
        // 日付
        .form-group
          label.control-label.col-sm-2(for='published_at')
            span(translate='COLUMNS.PUBLISHED_AT')
            span.red *
          .col-sm-10
            input.btn.btn-default(type='date' name='published_at' ng-model='new_record.published_at' datepicker-popup=true required='true' ng-change='new_record.changeDate()')
            span.errors(ng-messages='newRecordForm.published_at.$error' ng-show='newRecordForm.$submitted && newRecordForm.published_at.$error')
              div(ng-message='required')
                span.glyphicon.glyphicon-alert#left-icon
                span(translate='ERRORS.REQUIRED.PUBLISHED_AT')
              div(ng-message='date')
                span.glyphicon.glyphicon-alert#left-icon
                span(translate='ERRORS.DATE')
        // カテゴリ
        .form-group
          label.control-label.col-sm-2(for='category')
            span(translate='COLUMNS.CATEGORY')
            span.red *
          .col-sm-10
            select.form-control(
              name='category_id'
              ng-model='new_record.category_id'
              required='true'
              ng-change='new_record.selectCategory()'
              ng-options='category.id as category.name group by category._payments_name for category in new_record.categories'
            )
            span.errors(ng-messages='newRecordForm.category_id.$error' ng-show='newRecordForm.$submitted && newRecordForm.category_id.$error')
              div(ng-message='required')
                span.glyphicon.glyphicon-alert#left-icon
                span(translate='ERRORS.REQUIRED.CATEGORY')
        // 内訳
        .form-group(ng-show='new_record.form_group_breakdown')
          label.control-label.col-sm-2(for='breakdown')
            span(translate='COLUMNS.BREAKDOWN')
          .col-sm-10
            select.form-control(ng-model='new_record.breakdown_id' name='breakdown_id' ng-disabled='!new_record.category_id')
              option(ng-value='breakdown.id' ng-repeat='breakdown in new_record.breakdowns')
                | {{ breakdown.name }}
        // お店・施設
        .form-group(ng-show='new_record.form_group_place')
          label.control-label.col-sm-2(for='place')
            span(translate='COLUMNS.PLACE')
          .col-sm-10
            select.form-control(ng-model='new_record.place_id' name='place_id' ng-disabled='!new_record.category_id')
              option(ng-value='place.id' ng-repeat='place in new_record.places')
                | {{ place.name }}
        // 金額
        .form-group
          label.control-label.col-sm-2(for='charge')
            span(translate='COLUMNS.CHARGE')
            span.red *
          .col-sm-10
            input.form-control(type='number' name='charge' ng-model='new_record.charge' required='true' ng-maxlength='10000000')
            span.errors(ng-messages='newRecordForm.charge.$error' ng-show='newRecordForm.$submitted && newRecordForm.charge.$error')
              div(ng-message='required')
                span.glyphicon.glyphicon-alert#left-icon
                span(translate='ERRORS.REQUIRED.CHARGE')
              div(ng-message='maxlength')
                span.glyphicon.glyphicon-alert#left-icon
                span(translate='ERRORS.MAXLENGTH.CHARGE')
        // 備考
        .form-group(ng-show='new_record.form_group_memo')
          label.control-label.col-sm-2(for='memo')
            span(translate='COLUMNS.MEMO')
          .col-sm-10
            textarea.form-control(name='memo' ng-model='new_record.memo' ng-maxlength='10000')
            span.errors(ng-messages='newRecordForm.memo.$error' ng-show='newRecordForm.$submitted && newRecordForm.memo.$error')
              div(ng-message='maxlength')
                span.glyphicon.glyphicon-alert#left-icon
                span(translate='ERRORS.MAXLENGTH.MEMO')
        // ボタン
        .form-group
          .control-label.col-sm-2
            button.btn.btn-success(type='submit' ng-disabled='(newRecordForm.$submitted && newRecordForm.$invalid) || new_record.sending' translate='BUTTONS.CREATE')
    // 日付の登録一覧
    .col-sm-6
      loading-directive(target='records')
      .panel.panel-default(ng-show='new_record.day_records')
        .panel-body
          | {{ new_record.published_at | date:'yyyy年MM月dd日' }}
          span(translate='LABELS.ADD_20')
          table.table.table-condensed
            tr(ng-repeat='record in new_record.day_records')
              td
                a(href='' ng-click='new_record.copyRecord(record)')
                  span.glyphicon.glyphicon-arrow-left
              td
                label.label.label-warning {{ record.category_name }}
              td
                label.label.label-info {{ record.breakdown_name }}
              td
                label.label.label-primary {{ record.place_name }}
              td ¥ {{ record.charge | number }}
              td
                a(href='')
                  span.glyphicon.glyphicon-info-sign
