.col-md-3
  account-menu-directive

.col-md-9
  .panel.panel-default
    .panel-heading
      span.glyphicon.glyphicon-leaf
      span(translate='TITLES.SIGN_UP')
    .panel-body#with-background
      .alert.alert-danger(role='alert' ng-show='sign_up.errors')
        button.close(data-dismiss='alert' type='button' ng-click='sign_up.clearErrors()') ×
        ul(ng-repeat='error in sign_up.errors')
          li {{error}}
      form(novalidate=true name='signUpForm' ng-submit='sign_up.submit()')
        .form-group
          label(for='email')
            span(translate='LABELS.EMAIL')
            span *
          input.form-control#email(type='email' autofocus=true name='email' ng-model='sign_up.email' required=true ng-maxlength='100')
          span.errors(ng-messages='signUpForm.email.$error' ng-show='signUpForm.$submitted')
            div(ng-message='required')
              span.glyphicon.glyphicon-alert#left-icon
              span(translate='ERRORS.REQUIRED.EMAIL')
            div(ng-message='email')
              span.glyphicon.glyphicon-alert#left-icon
              span(translate='ERRORS.EMAIL')
            div(ng-message='maxlength')
              span.glyphicon.glyphicon-alert#left-icon
              span(translate='ERRORS.MAXLENGTH.EMAIL')
        .form-group
          label(for='password')
            span(translate='LABELS.PASSWORD')
            span *
          input.form-control#password(type='password' name='password' ng-model='sign_up.password' required=true ng-maxlength='72' ng-minlength='4')
          span.errors(ng-messages='signUpForm.password.$error' ng-show='signUpForm.$submitted')
            div(ng-message='required')
              span.glyphicon.glyphicon-alert#left-icon
              span(translate='ERRORS.REQUIRED.PASSWORD')
            div(ng-message='maxlength')
              span.glyphicon.glyphicon-alert#left-icon
              span(translate='ERRORS.MAXLENGTH.PASSWORD')
            div(ng-message='minlength')
              span.glyphicon.glyphicon-alert#left-icon
              span(translate='ERRORS.MINLENGTH.PASSWORD')
        .form-group
          label(for='password_confirmation')
            span(translate='LABELS.PASSWORD_CONFIRMATION')
            span *
          input.form-control#password_confirmation(type='password' name='password_confirmation' ng-model='sign_up.password_confirmation' required=true ng-maxlength='72' ng-minlength='4')
          span.errors(ng-messages='signUpForm.password_confirmation.$error' ng-show='signUpForm.$submitted')
            div(ng-message='required')
              span.glyphicon.glyphicon-alert
              span(translate='ERRORS.REQUIRED.PASSWORD')
            div(ng-message='maxlength')
              span.glyphicon.glyphicon-alert
              span(translate='ERRORS.MAXLENGTH.PASSWORD')
            div(ng-message='minlength')
              span.glyphicon.glyphicon-alert
              span(translate='ERRORS.MINLENGTH.PASSWORD')
        button.btn.btn-success(type='submit' ng-disabled='signUpForm.$submitted && signUpForm.$invalid')
          span(translate='BUTTONS.SIGN_UP')
      hr
      p
        a(ui-sref='reset_password')
          span(translate='LINKS.FORGOT_PASSWORD')
      p
        a(ui-sref='resend_email')
          span(translate='LINKS.RESEND_EMAIL')
