.panel.panel-default
  .panel-heading
    span.glyphicon.glyphicon-leaf
    span(translate='TITLES.CATEGORIES')
  .panel-body#with-background
    .row(ng-model='categories.categories' ui-sortable='categories.sortable')
      .col-sm-3(ng-repeat='category in categories.categories' id='{{category.id}}')
        .panel.panel-body.col-sm-11.category-card(ng-show='!category.edit_field' ng-style="{'cursor': cursor_type}" ng-mouseenter="cursor_type = 'move'")
          a.pull-right
            span.glyphicon.glyphicon-trash#right-icon(ng-click='categories.destroyCategory($index)' ng-show='category.breakdowns_count == 0')
          div.category-name(ng-style="{'cursor': 'pointer'}" ng-click='categories.editCategory($index)')
            span.glyphicon.glyphicon-plus-sign.green#left-icon(ng-show='category.barance_of_payments')
            span.glyphicon.glyphicon-minus-sign.red#left-icon(ng-hide='category.barance_of_payments')
            span {{ category.name | truncate:true:12 }}
          hr
          a(href='' ng-click='categories.showBreakdowns($index)')
            span.glyphicon.glyphicon-th-list#left-icon
            span {{ category.breakdowns_count }}
        .panel.panel-body.col-sm-11.category-card#category(ng-if="category.edit_field" ng-keydown='categories.updateCategory($index, $event)')
          .input-group
            .input-group-btn
              button.btn.btn-default(ng-class="{'btn-success': !category.edit_payments}" type='button' ng-click='category.edit_payments = false')
                span.glyphicon.glyphicon-minus-sign#left-icon
                span(translate='BUTTONS.OUTGO')
              button.btn.btn-default(ng-class="{'btn-info': category.edit_payments}" type='button' ng-click='category.edit_payments = true')
                span.glyphicon.glyphicon-plus-sign#left-icon
                span(translate='BUTTONS.INCOME')
          input.category-form(ng-value='category.name' ng-model='category.edit_name' auto-focus=true type='text')
          .btn.btn-success(translate='BUTTONS.EDIT' ng-click='categories.updateCategory($index)')
          .btn.btn-default(translate='BUTTONS.CANCEL' ng-click='category.edit_field = false')
      .col-sm-3
        .panel.panel-body.col-sm-11.category-plus#category(ng-click='categories.addNewPanel()' ng-class="{'panel-background': 'adding'}" ng-mouseenter="adding = true" ng-mouseleave="adding = false" ng-show="!categories.add_field")
          span.glyphicon.glyphicon-plus
        .panel.panel-body.col-sm-11.category-card#category(ng-if='categories.add_field' ng-keydown='categories.createCategory($event)')
          .input-group
            .input-group-btn
              button.btn.btn-default(ng-class="{'btn-success': !categories.new_payments}" type='button' ng-click='categories.new_payments = false')
                span.glyphicon.glyphicon-minus-sign#left-icon
                span(translate='BUTTONS.OUTGO')
              button.btn.btn-default(ng-class="{'btn-info': categories.new_payments}" type='button' ng-click='categories.new_payments = true')
                span.glyphicon.glyphicon-plus-sign#left-icon
                span(translate='BUTTONS.INCOME')
          input.category-form(ng-model='categories.new_category_name' auto-focus=true type='text')
          .btn.btn-success(translate='BUTTONS.EDIT' ng-click='categories.createCategory()')
          .btn.btn-default(translate='BUTTONS.CANCEL' ng-click='categories.add_field = false')

script#confirm-destroy(type='text/ng-template')
  .modal-body
    p(translate='MESSAGES.DELETE')
    button.btn.btn-success(type='submit' translate='BUTTONS.YES' ng-click='confirm_destroy.ok()')
    a.btn.btn-default(ng-click='confirm_destroy.cancel()' translate='BUTTONS.CLOSE')

script#breakdowns(type='text/ng-template')
  .modal-body
    div(id='breakdown.id' ng-repeat='breakdown in breakdowns.breakdowns')
      p(ng-click='breakdown.edit_field = true' ng-show='!breakdown.edit_field') {{ breakdown.name }}
      .form.form-inline(ng-show='breakdown.edit_field')
        input.form-control(type='text' ng-model='breakdown.edit_name' ng-value='breakdown.name' auto-focus=true ng-keydown='breakdowns.updateBreakdown($index, $event)')
        button.btn.btn-success(translate='BUTTONS.EDIT' ng-click='breakdowns.updateBreakdown($index)')
        button.btn.btn-default(translate='BUTTONS.CANCEL' ng-click='breakdown.edit_field = false')
        button.btn.btn-info.pull-right(href='' translate='LINKS.DELETE' ng-click='breakdowns.destroyBreakdown($index)')
    a(href='' ng-click='breakdowns.new_breakdown_field = true' translate='BUTTONS.ADD' ng-show='!breakdowns.new_breakdown_field')
    form(novalidate=true name='newBreakdownForm' ng-submit='breakdowns.submit()' ng-show='breakdowns.new_breakdown_field')
      .form-group
        input.form-control(type='text' autofocus=true name='breakdowns.new-breakdown' ng-model='breakdowns.new_breakdown' required=true ng-maxlength='100' ng-keydown='breakdowns.createBreakdown($event)')
