.panel.panel-default
  .panel-heading
    span.glyphicon.glyphicon-tags#left-icon
    span(translate='TITLES.CATEGORIES')
  .panel-body#with-background
    loading-directive
    .row(ng-model='categories.categories' ui-sortable='categories.sortable')
      // カテゴリの一覧
      .col-sm-3(ng-repeat='category in categories.categories' id='{{category.id}}')
        // カテゴリの表示
        .panel.panel-body.col-sm-11.category-card(ng-show='!category.edit_field' ng-style="{'cursor': cursor_type}" ng-mouseenter="cursor_type = 'move'")
          a.pull-right
            span.glyphicon.glyphicon-trash#right-icon(
              ng-click='categories.destroyCategory($index)'
              ng-show='category.breakdowns_count == 0 && category.records_count == 0')
          div.category-name(ng-style="{'cursor': 'pointer'}" ng-click='categories.editCategory($index)')
            span.glyphicon.glyphicon-arrow-up.green#left-icon(ng-show='category.barance_of_payments')
            span.glyphicon.glyphicon-arrow-down.red#left-icon(ng-hide='category.barance_of_payments')
            span {{ category.name | truncate:true:12 }}
            span.glyphicon.glyphicon-pencil.green#right-icon(uib-tooltip="{{'TOOLTIPS.EDIT' | translate}}")
          hr
          a.label.label-info.label-list.blue(href='' ng-click='categories.showBreakdowns($index)' uib-tooltip="{{ 'TOOLTIPS.BREAKDOWNS' | translate }}")
            span.glyphicon.glyphicon-th-list#left-icon
            span {{ category.breakdowns_count }}

          a.label.label-info.label-list.blue(href='' ng-click='categories.showPlaces($index)' uib-tooltip="{{ 'TOOLTIPS.PLACES' | translate }}")

            span.glyphicon.glyphicon-map-marker#left-icon
            span {{ category.places_count }}
        // カテゴリの編集フィールド
        .panel.panel-body.col-sm-11.category-card#category(ng-if="category.edit_field")
          form.form-inline(novalidate=true name='editCategoryForm' ng-submit='categories.updateCategory($index)')
            span.errors(ng-messages='editCategoryForm.name.$error' ng-show='editCategoryForm.$dirty')
              div(ng-message='required')
                span.glyphicon.glyphicon-alert#left-icon
                span(translate='ERRORS.REQUIRED.CATEGORY_NAME')
              div(ng-message='maxlength')
                span.glyphicon.glyphicon-alert#left-icon
                span(translate='ERRORS.MAXLENGTH.CATEGORY_NAME')
            // 収入・支出
            p
              label.radio-inline
                input(type='radio' name='barance_of_payments' ng-model='category.edit_payments' ng-value='false')
                span(translate='BUTTONS.OUTGO')
              label.radio-inline
                input(type='radio' name='barance_of_payments' ng-model='category.edit_payments' ng-value='true')
                span(translate='BUTTONS.INCOME')
            // 編集フォーム
            p
              input.category-form(name='name' ng-value='category.name' ng-init='category.edit_name = category.name' ng-model='category.edit_name' auto-focus=true type='text' required=true)
            button.btn.btn-success(translate='BUTTONS.EDIT' ng-disabled='editCategoryForm.$dirty && editCategoryForm.$invalid')
            a.btn.btn-default.pull-right(translate='BUTTONS.CANCEL' ng-click='category.edit_field = false')
      // カテゴリの追加フィールド
      .col-sm-3(ng-show='categories.categories && categories.categories.length < categories.max_category_count')
        .panel.panel-body.col-sm-11.category-plus#category(ng-click='categories.addNewPanel()' ng-class="{'panel-background': 'adding'}" ng-mouseenter="adding = true" ng-mouseleave="adding = false" ng-show="!categories.add_field")
          span.glyphicon.glyphicon-plus
        .panel.panel-body.col-sm-11.category-card#category(ng-if='categories.add_field')
          form.form-inline(novalidate=true name='newCategoryForm' ng-submit='categories.createCategory()')
            // エラーメッセージ
            span.errors(ng-messages='newCategoryForm.name.$error' ng-show='newCategoryForm.name.$dirty || newCategoryForm.$submitted')
              div(ng-message='required')
                span.glyphicon.glyphicon-alert#left-icon
                span(translate='ERRORS.REQUIRED.CATEGORY_NAME')
              div(ng-message='maxlength')
                span.glyphicon.glyphicon-alert#left-icon
                span(translate='ERRORS.MAXLENGTH.CATEGORY_NAME')
            // 収入・支出
            p
              label.radio-inline
                input(type='radio' name='barance_of_payments' ng-model='categories.new_payments' ng-value='false')
                span(translate='BUTTONS.OUTGO')
              label.radio-inline
                input(type='radio' name='barance_of_payments' ng-model='categories.new_payments' ng-value='true')
                span(translate='BUTTONS.INCOME')
            // 入力フォーム
            p
              input.category-form(name='name' ng-model='categories.new_category_name' auto-focus=true type='text' required=true ng-maxlength='100')
            button.btn.btn-success(translate='BUTTONS.ADD' ng-disabled='newCategoryForm.$dirty && newCategoryForm.$invalid')
            a.btn.btn-default.pull-right(translate='BUTTONS.CANCEL' ng-click='categories.add_field = false')
