.panel.panel-default
  .panel-heading
    span.glyphicon.glyphicon-map-marker#left-icon
    span(translate='TITLES.PLACE')

  .panel-body#with-background
    //- 追加パネル
    .panel.panel-body.place-plus(ng-click='places.newPlace()' ng-class="{'panel-background': 'adding'}" ng-mouseenter="adding = true" ng-mouseleave="adding = false" ng-show="!places.add_field")
      span.glyphicon.glyphicon-plus

    .panel.panel-body.place-card(ng-if='places.add_field')
      form.form-inline(novalidate=true name='newPlaceForm' ng-submit='places.submit()')
        input.form-control(name='name' ng-model='places.new_name' auto-focus=true type='text' required=true)
        button.btn.btn-success(translate='BUTTONS.ADD' ng-disabled='places.sending')
        a.btn.btn-default(translate='BUTTONS.CANCEL' ng-click='places.add_field = false')
        span.errors(ng-messages='newPlaceForm.name.$error' ng-show='newPlaceForm.$submitted')
          div(ng-message='required')
            span.glyphicon.glyphicon-alert#left-icon
            span(translate='ERRORS.REQUIRED.PLACE_NAME')

    //- 一覧パネル
    loading-directive
    .panel.panel-body.place-card(ng-repeat='place in places.places' ng-show='places.places')
      .row
        //- お店・施設名
        .col-sm-4
          div(ng-show='!place.edit_field' ng-style="{'cursor': 'pointer', outline: 'none'}" ng-click='place.edit_field = true') {{ place.name }}
          //- 編集パネル
          form.form-inline(novalidate=true name='editPlaceForm' ng-if='place.edit_field')
            input.form-control(name='name' ng-value='place.name' ng-init='place.edit_name = place.name' ng-model='place.edit_name' auto-focus=true type='text' required=true)
            button.btn.btn-success(translate='BUTTONS.EDIT' ng-click='places.updatePlace($index)')
            a.btn.btn-default(translate='BUTTONS.CANCEL' ng-click='place.edit_field = false')
            span.errors(ng-messages='editPlaceForm.name.$error' ng-show='editPlaceForm.$submitted')
              div(ng-message='required')
                span.glyphicon.glyphicon-alert#left-icon
                span(translate='ERRORS.REQUIRED.PLACE_NAME')

        //- カテゴリ
        .col-sm-8
          ul.nav.nav-pills#category-list
            li(tooltip="{{ 'TOOLTIPS.SET_CATEGORY' | translate }}")
              span.label.label-info#category-list(ng-click='places.addCategory($index)')
                .glyphicon.glyphicon-plus
            li(ng-repeat='category in place.categories')
              span.label#category-list(ng-class="{'label-success': category.barance_of_payments, 'label-danger': !category.barance_of_payments}")
                span {{ category.name }}
                span.glyphicon.glyphicon-remove#right-icon(ng-style="{'cursor': 'pointer'}" ng-click='places.removeCategory($parent.$index, $index)')
            a.pull-right
              span.glyphicon.glyphicon-trash#right-icon(ng-click='places.destroyPlace($index)' ng-show='place.categories.length == 0')

// お店・施設の削除確認モーダル
script#confirm-destroy(type='text/ng-template')
  .modal-body
    p(translate='MESSAGES.DELETE')
    button.btn.btn-success(type='submit' translate='BUTTONS.YES' ng-click='confirm_destroy.ok()')
    a.btn.btn-default(ng-click='confirm_destroy.cancel()' translate='BUTTONS.CLOSE')

// カテゴリの追加モーダル
script#adding-category(type='text/ng-template')
  .modal-header
    form.form-inline(novalidate=true name='addCategoryForm' ng-submit='adding_category.submit()')
      button.btn.btn-success(translate='BUTTONS.ADD' ng-disabled='adding_category.sending')
      a.btn.btn-default(type='submit' translate='BUTTONS.CANCEL' ng-click='adding_category.cancel()')
  .modal-body
    loading-directive(target='modal')
    select.form-control(ng-model='adding_category.category_id' ng-show='adding_category.categories')
      optgroup(label="{{ 'LABELS.INCOME' | translate }}")
        option(ng-value='category.id' ng-repeat='category in adding_category.categories | filter: { selected_place:false, barance_of_payments:true }')
          | {{ category.name }}
      optgroup(label="{{ 'LABELS.OUTGO' | translate }}")
        option(ng-value='category.id' ng-repeat='category in adding_category.categories | filter: { selected_place:false, barance_of_payments:false }')
          | {{ category.name }}
